<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-light fw-bold" href="{{.URLs.home}}">Save Tamal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link active" href="{{.URLs.dashboard}}">Dashboard</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.collList}}">Collection</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.userList}}">Users</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.commList}}">Comments</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.dreList}}">Daily Report</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.home}}">Homepage</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card border-success bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Target Amount</h5>
                    </div>
                    <h1 class="card-header">{{.TargetAmount}}</h1>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-success bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Collected Amount</h5>
                    </div>
                    <h1 class="card-header">{{.CollectedAmount}}</h1>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-success bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Remaining Amount</h5>
                    </div>
                    <h1 class="card-header">{{.RemainingAmount}}</h1>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
</html>