<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <title>Save Tamal</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-success fw-bold" href="#">Save Tamal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="#">About Tamal</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="#">Medical Documents</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="#">Collection Details</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item ml-lg-2">
                        <a class="btn btn-success" href="#">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <div class="container-fluid banner-image">
        <div class="row p-5">
            <div class="col-md-7">
                <h1><span class="bg-success text-light p-2 rounded-3">তমাল</span> বাঁচতে চায়</h1>
                <p>খুলনা বিশ্ববিদ্যালয়ের ইলেক্ট্রনিক্স অ্যান্ড কমিউনিকেশন ইঞ্জিনিয়ারিং ডিসিপ্লিনের ‘১১ ব্যাচের ছাত্র মো. নাজমুল ইসলাম তমাল- দুরারোগ্য ব্লাড ক্যান্সারে আক্রান্ত! তমালের চিকিৎসার জন্য প্রায় ৯৮ লাখ টাকা প্রয়োজন যা এই মুহুর্তে তার পরিবারের পক্ষে বহন করা অসম্ভব। তাই তমালকে বাঁচাতে আপনাদের আর্থিক সহায়তা অত্যন্ত জরুরী।</p>
                <button class="btn btn-outline-success btn-lg">Donate</button>
            </div>
        </div>
    </div>
    <div class="container-fluid p-5">
        <div class="row">
            <h2 class="text-center text-success mb-4">About Tamal</h2>
            <p>মো: নাজমুল ইসলাম তমাল, স্কুল-কলেজ শেষ করেছেন মাগুরা সরকারি উচ্চ বিদ্যালয় থেকে। স্কুল-কলেজের গন্ডি পেরিয়ে খুলনা বিশ্ববিদ্যালয়ের ইলেক্ট্রনিক্স এন্ড কমিউনিকেশন ইঞ্জিনিয়ারিং ডিসিপ্লিনে ভর্তি হন ২০১১ সালে। গ্রাজুয়েশন কম্পলিট করে ব্র‍্যাক ব্যাংকের আইটিতে যোগদান করেন। এরপর রবিতে ( বাংলাদেশের অন্যতম টেলিকম সেবাদাতা প্রতিষ্ঠান) ইঞ্জিনিয়ার হিসেবে জয়েন করেন।  ২০২১ সালে বিয়ে করেন একই স্কুলের জুনিয়রকে যে কিনা তাঁর বিশ্ববিদ্যালয়েরও একই ডিসিপ্লিনের জুনিয়র। তাঁদের সুখের সংসার শুরু হলো তখন থেকে।</p>
            <p>আট দশটা মিডল ক্লাস ফ্যামিলির মতো তমালের গল্পটাও এভাবেই শেষ হতে পারতো। কিন্তু উচ্চরক্তচাপ, ডায়াবেটিস, হাপানী এবং অন্য কোন জন্মগত অথবা জেনেটিক রোগের হিস্ট্রিবিহীন, একদম ঠিকঠাক, সুস্থ  তমাল  গতবছর (২০২৪) কক্সবাজার বেড়াতে যেয়ে ঘাড়ের ব্যথা আর হাঁটার অসুবিধা ফীল করে। বেশ কিছু পরীক্ষা-নিরীক্ষা করে ধরা পড়ে Spine-এ দুটি টিউমার, Liver-এ টিউমার। রক্তক্ষরণে দুর্বল শরীর, ফুসফুসের জটিলতা আর একের পর এক টেস্টের পর শেষে জানা গেল তমাল Multiple Myeloma (DSS-IIIB)তে আক্রান্ত, যেটি আমরা ব্লাড ক্যান্সার নামে চিনি। তাও আবার ভয়াবহ লাস্ট স্টেজ, High Risk Variant (Del 17p, Del 13q, Monosomy 1)। </p>
            <p>তমালের সুখের গল্পে এভাবেই ব্লাড ক্যান্সার নামক এক বিভীষিকার আগমণ ঘটে। সুখের সংসার ১৮০ ডিগ্রী ইউটার্ন নেয়। সদ্য বিবাহিত মেয়েটির জীবনে নেমে আসে স্বামী হারানোর ভয়, এই বয়সে তার হয়তো তার স্বামীর সাথে রোমান্টিক সময় কাটানোর কথা বান্দরবান, কক্স বাজারে। কিন্তু প্রকৃতির নির্মম পরিহাসে তার সময় কাটছে তার স্বামীর সাথে আইসিইউতে। প্রতি সেকেন্ডে স্বামীর জীবন ভিক্ষা চাচ্ছেন উপরআলার কাছে।</p>
            <p>তমালের জীবনে ক্যান্সার আসা মানে তার পরিবারের জীবনেও ক্যান্সার চলে আসা। তারা এই ক্যান্সারের সাথে যুদ্ধ শুরু করেছিলেন সেই ২০২৪ সাল থেকেই। তার প্রথম যখন ব্লাড ক্যান্সার (মাল্টিপল মায়লোমা) ধরা পড়ে তখন থেকেই তাঁর পরিবার এই ব্যয়বহুল চিকিৎসা চালিয়ে আসছে। RVD প্রোটোকলে এন্টিমায়োলোমা কেমোথেরাপি পাওয়ার পর ২০২৪ এর সেপ্টেম্বরে ঢাকার Evercare হাসপাতালে Autologous Bone Marrow Transplant করানো হয়। তখন পর্যন্ত প্রায় ৩০ লাখ টাকা খরচ হয়।</p>
            <p>প্রায় ৯ মাস ফলো আপ এবং আল্লাহর রহমতে রোগ মুক্ত থাকার পর সবাই তমালের ক্যান্সার জয়ের স্বপ্ন দেখতে থাকে। কিন্তু সৃষ্টিকর্তার হয়তো ভিন্ন পরিকল্পনা ছিল। তমাল ক্যান্সার জয় করতে পারে নি। ২০২৫ এর মে মাসে ক্যান্সার আবার ফেরত আসে এবং Spine এ নতুন টিউমার ধরা পড়ে যেটা খুব দ্রুত বড় হয়ে নার্ভের উপর চাপ ফেলে এবং তমালের দুই পা অবশ হয়ে যায়। ক্যান্সারের সাথে যুদ্ধরত এক যোদ্ধা আরও একবার শুরু থেকে যুদ্ধ করার পর্যায়ে ফিরে যায়। </p>
            <p>বর্তমানে Monclonal Antibody Daratumumab সহ এন্টিমায়োলোমা ওষুধের পাশাপাশি Spine এ রেডিওথেরাপি দিয়ে টিউমারের আকার ছোট করার চেষ্টা চলছে; গত ২১ আগস্ট,২০২৫ বুকে ব্যাথা নিয়ে রোগীকে HDU তে ভর্তি করানো হয় এবং এখনো হাসপাতালে হেমাটোলজিস্ট প্রফেসর ডা. অখিল রঞ্জন বিশ্বাসের অধীনে রোগী চিকিৎসাধীন। চিকিৎসকরা যে প্লান দিয়েছেন সেটা আশাব্যঞ্জক হলেও  এই লড়াই অতি দীর্ঘ এবং অত্যন্ত ব্যয়বহুল।  যাতে আনুমানিক আরও প্রায় ৯৮ লক্ষ টাকা ব্যয় করতে হবে যা ক্ষেত্রবিশেষে আরও বেশি ব্যয়বহুল হতে পারে। এতো বিশাল অংকের খরচ সামলাতে প্রয়োজন আমাদের সকলের এগিয়ে আসা।</p>
            <p>তমালকে যারা ব্যক্তিগতভাবে চিনেন তারা জানেন এই সদা হাস্যজ্জ্বল এই মানুষটা কতটা হাসিমুখ এবং নির্মল ছিলেন। সবার সাথে মুখে এক গাল হাসি নিয়ে কথা বলতেন। সেই মানুষটার আজকের এই অবস্থা থেকে স্বাভাবিক অবস্থানে ফিরিয়ে আনার দায়িত্ব আমাদেরই। আমরা যদি মাগুরা, খুলনা বিশ্ববিদ্যালয়সহ সারা বাংলাদেশের মানুষ এক হই তাহলে তমালের হাসিমুখ আমরা আবার ফিরিয়ে আনতে পারব। তাঁর বাবা মায়ের কোলে দামাল তমালকে ফিরিয়ে দিতে পারবো, তাঁর সদ্য বিবাহিত স্ত্রীর ভালোবাসার কাছে তাঁকে তুলে দিতে পারবো। ইনশাল্লাহ। তমালের এই লড়াই আমাদের সবার লড়াই। তমালের লড়াইয়ে আমরাও সামিল হই।</p>
            <p>আসুন তমালের পাশে দাঁড়াই, মানবতার পাশে দাঁড়াই।</p>
        </div>
    </div>
    <div class="container-fluid p-5 bg-gray">
        <div class="row">
            <h2 class="text-center text-success mb-4">Medical Documents</h2>
            <div class="col-12 col-lg-6">
                <iframe src="../files/Case-Summary.pdf" frameborder="0" width="100%" height="600px"></iframe>
            </div>
            <div class="col-12 col-lg-6">
                <iframe src="../files/Estimated-Cost.pdf" frameborder="0" width="100%" height="600px"></iframe>
            </div>
        </div>
    </div>
    <div class="container-fluid p-5">
        <div class="row">
            <h2 class="text-center text-success mb-4">Collection Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Account Number</th>
                            <th>Account Type</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John Doe</td>
                            <td>12345678900987</td>
                            <td>Bank</td>
                            <td>&#2547;20000</td>
                        </tr>
                        <tr>
                            <td>Mitchell Smith</td>
                            <td>01777999888</td>
                            <td>Bkash</td>
                            <td>&#2547;600</td>
                        </tr>
                        <tr>
                            <td>Jacob Hunt</td>
                            <td>01823456789</td>
                            <td>Nagad</td>
                            <td>&#2547;3000</td>
                        </tr>
                        <tr>
                            <td>Shaun Lee</td>
                            <td>01966723456789</td>
                            <td>Bank</td>
                            <td>&#2547;1550</td>
                        </tr>
                        <tr>
                            <td>Larry Page</td>
                            <td>01376980765</td>
                            <td>Rocket</td>
                            <td>&#2547;750</td>
                        </tr>
                        <tr>
                            <td>Will Turner</td>
                            <td>8899833737282991</td>
                            <td>Bank</td>
                            <td>&#2547;25500</td>
                            </tr>
                        <tr>
                            <td>Nick Wilder</td>
                            <td>01672345567</td>
                            <td>Nagad</td>
                            <td>&#2547;500</td>
                        </tr>
                        <tr>
                            <td>Rick Monty</td>
                            <td>01627987123</td>
                            <td>Rocket</td>
                            <td>&#2547;2500</td>
                        </tr>
                        <tr>
                            <td>David Doe</td>
                            <td>88983373745882991</td>
                            <td>Bank</td>
                            <td>&#2547;13500</td>
                        </tr>
                        <tr>
                            <td>Kendra Jones</td>
                            <td>01567152636</td>
                            <td>Bkash</td>
                            <td>&#2547;2000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
<script src="../js/bootstrap.bundle.min.js"></script>
</html>