<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Page Not Found</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-success fw-bold" href="{{.URLs.home}}">Save Tamal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" aria-current="page" href="{{.URLs.home}}">Home</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.home}}#about">About Tamal</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.home}}#documents">Medical Documents</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.home}}#collection">Collection Details</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.home}}#contact">Contact Us</a>
                    </li>
                    <li class="nav-item ml-lg-2">
                        <a class="btn btn-success" href="{{.URLs.home}}#donate">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <div class="container">
        <div class="row my-4">
            <div class="card p-5 shadow">
                <div class="card-header border-0">
                    <h1>Log In</h1>
                </div>
                <div class="card-body">
                    <h4>{{.Notices}}</h4>
                    <form method="POST" action="/login/auth">
                        <div class="mb-3">
                            <label for="loginEmail" class="form-label">Email*</label>
                            <input type="email" class="form-control" id="loginEmail" placeholder="Enter your email" name="Email" value="{{.Email}}">
                        </div>
                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Password*</label>
                            <input type="password" class="form-control" id="loginPassword" placeholder="Enter your password" name="Password" value="">
                        </div>
                        <p class="text-danger">{{.Errors.Error}}</p>
                        <button class="btn btn-success" type="submit">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
</html>