<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Users</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-light fw-bold" href="#">Save Tamal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.dashboard}}">Dashboard</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="/collection">Collection</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link active" href="{{.URLs.userList}}">Users</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="/comments">Comments</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.home}}">Homepage</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <div class="container-fluid">
        <h2 class="p-2 text-center">Users List</h2>
        <div class="row p-2 justify-content-between">
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <form action="/sort" method="GET">
                        <select class="form-select" name="SortBy">
                            <option selected>Sort By</option>
                            <option value="name">Name</option>
                            <option value="batch">Batch</option>
                            <option value="email">Email</option>
                            <option value="created_at">Created At</option>
                            <option value="created_by">Craeted By</option>
                            <option value="updated_at">Updated At</option>
                            <option value="updated_by">Updated By</option>
                        </select>
                        <select class="form-select" name="Order">
                            <option selected>Order</option>
                            <option value="ASC">A to Z</option>
                            <option value="DESC">Z to A</option>
                        </select>
                        <button type="submit" class="btn btn-success">Filter</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <form action="/search" method="GET">
                        <input type="text" class="form-control" placeholder="Search ..." name="SearchTerm">
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success" href="{{.URLs.userCreate}}">+ Add New User</a>
            </div>
        </div>
        <div class="row p-3">
            <div class="col">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Batch</th>
                            <th>Email</th>
                            <th>Created At</th>
                            <th>Created By</th>
                            <th>Updated At</th>
                            <th>Updated By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John Doe</td>
                            <td>14</td>
                            <td>someone@email.com</td>
                            <td>12:00</td>
                            <td>Dip</td>
                            <td>04:49</td>
                            <td>Dip</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="">Edit</a>
                                <a class="btn btn-danger btn-sm" href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Mitchell Smith</td>
                            <td>14</td>
                            <td>someone@email.com</td>
                            <td>12:00</td>
                            <td>Dip</td>
                            <td>04:49</td>
                            <td>Dip</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="">Edit</a>
                                <a class="btn btn-danger btn-sm" href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jacob Hunt</td>
                            <td>14</td>
                            <td>someone@email.com</td>
                            <td>12:00</td>
                            <td>Dip</td>
                            <td>04:49</td>
                            <td>Dip</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="">Edit</a>
                                <a class="btn btn-danger btn-sm" href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Shaun Lee</td>
                            <td>14</td>
                            <td>someone@email.com</td>
                            <td>12:00</td>
                            <td>Dip</td>
                            <td>04:49</td>
                            <td>Dip</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="">Edit</a>
                                <a class="btn btn-danger btn-sm" href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Larry Page</td>
                            <td>14</td>
                            <td>someone@email.com</td>
                            <td>12:00</td>
                            <td>Dip</td>
                            <td>04:49</td>
                            <td>Dip</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="">Edit</a>
                                <a class="btn btn-danger btn-sm" href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Will Turner</td>
                            <td>14</td>
                            <td>someone@email.com</td>
                            <td>12:00</td>
                            <td>Dip</td>
                            <td>04:49</td>
                            <td>Dip</td>
                        </tr>
                        <tr>
                            <td>Nick Wilder</td>
                            <td>14</td>
                            <td>someone@email.com</td>
                            <td>12:00</td>
                            <td>Dip</td>
                            <td>04:49</td>
                            <td>Dip</td>
                        </tr>
                        <tr>
                            <td>Rick Monty</td>
                            <td>14</td>
                            <td>someone@email.com</td>
                            <td>12:00</td>
                            <td>Dip</td>
                            <td>04:49</td>
                            <td>Dip</td>
                        </tr>
                        <tr>
                            <td>David Doe</td>
                            <td>14</td>
                            <td>someone@email.com</td>
                            <td>12:00</td>
                            <td>Dip</td>
                            <td>04:49</td>
                            <td>Dip</td>
                        </tr>
                        <tr>
                            <td>Kendra Jones</td>
                            <td>14</td>
                            <td>someone@email.com</td>
                            <td>12:00</td>
                            <td>Dip</td>
                            <td>04:49</td>
                            <td>Dip</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
</html>