<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Edit User</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-light fw-bold" href="{{.URLs.home}}">Save Tamal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.dashboard}}">Dashboard</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.collList}}">Collection</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link active" href="{{.URLs.userList}}">Users</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.commList}}">Comments</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.dreList}}">Daily Report</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="{{.URLs.home}}">Homepage</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <div class="container-fluid">
        <h2 class="p-2 text-center">Edit user</h2>
        <div class="row p-2">
            <div class="col-md-6">
                <form method="post" action="/users/update/{{.User.UserID}}">
                    <div class="mb-3">
                        <label class="form-label">Name*</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter user's name" value="{{.User.Name}}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Batch</label>
                        <input type="number" class="form-control" name="batch" placeholder="Enter user's batch" value="{{.User.Batch}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email address*</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter user's email" value="{{.User.Email}}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password*</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter a password" required>
                    </div>
                    <a class="btn btn-primary" href="{{.URLs.userList}}">Back to List</a>
                    <button type="submit" class="btn btn-success float-end">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
</html>